.col-md-4#desc-block{
    height: 100%
}

.row.modules{
    margin-left: 155px;
    width: fit-content;
    margin-bottom: 50px;
    margin-top: 50px;
    border: 3px dashed gray;
}

.row.used-modules{
    margin-left: 155px;
    width: fit-content;
    margin-bottom: 20px;
    margin-top: 50px;
    border: 3px dashed gray;
}

.row.modules div{
    background: linear-gradient(to right, #ff6767 0%, #ff2a2acc 100%);
    height: 150px;
    width: 180px;
    margin: 8px;
    z-index: 5;
    border-radius: 20%;
    
}

.row.interactions .interact-col{
    height: 350px;
    width: 32%;
    margin: 8px;
    border: 3px dashed gray;
    padding-left: 0px;
    padding-right: 0px;
}

.interact-col .image-holder{
    height: 90%;
    width: auto;
    padding: 2px;
}

.image-holder img{
    height: 100%;
    width: 100%;
}

.row.interactions .ui-droppable{
    width: 35%;
}

.row.interactions .robot-block{
    width: 20%;
    margin-left: 40px;
    margin-right: 40px;
    background: white url(../images/robot.png) no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
}

.block-heading{
    text-align: center;
    vertical-align: middle;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 21px;
    color: white;
}

.gtco-cover.gtco-cover-xs.gtco-inner.age-example{
    height: 150px;
}

.gtco-cover.gtco-cover-xs.gtco-inner.age-example .display-t{
    height: 150px;
}

.row.used-modules div{
    background-color: white;
    height: 150px;
    width: 180px;
    margin: 8px;
    z-index: -1;
    border-radius: 20%;
}

/*
.gtco-section.gtco-products.gtco-example{
     background: #17B794;
}*/

/* Dragging effects */

.ui-draggable-dragging{
    box-shadow: 0 0 0 6px rgb(42, 42, 43);
}

/*Button*/
button-wrap{
    height: auto;
    width: auto;
}

.reset.btn-wrapper{
    height: 60px;
    margin: 10px;
}
.reset.btn-wrapper .btn{
    height: 100%;
    width: 160px;
    font-size: 25px;
    background: linear-gradient(to right, #3dcdbc 0%, #33a1bd 100%);
}

.interact-col .input-holder{
    height: 85%;
    width: auto;
    padding: 2px;
}

.tweet .btn {
    background: linear-gradient(to right, #3dcdbc 0%, #33a1bd 100%);
}

.list-inline.token{
    padding: 10px;
    text-align: center;
}

.list-inline-item.token{
    border: 2px solid #2a8245;
    margin-bottom: 2px;
    margin-right: 10px;
    padding: 2px;
    background: linear-gradient(to right, #4de93a85 0%, #00be1763 100%);

}

#loader-1:before, #loader-1:after{
    content: "";
    position: absolute;
    top: 25%;
    left: 35%;
    width: 25%;
    height: 25%;
    border-radius: 100%;
    border: 10px solid transparent;
    border-top-color: #3498db;
  }
  
  #loader-1:before{
    z-index: 100;
    animation: spin 1s infinite;
  }
  
  #loader-1:after{
    border: 10px solid #ccc;
  }
  
  @keyframes spin{
    0%{
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  
    100%{
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }